<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
</head>
<body>
    <h1 th:text="${boardName.title}"></h1>

    <tr th:each="article: ${articles}">
        <td>

            <h2 th:text="${article.title}"></h2>

            <span th:text="${article.author_id}"></span>
            <span>|</span>
            <span th:text="${article.modified_date == null} ? ${article.created_date} : ${article.modified_date} "></span>

            <p th:text="${article.content}"></p>

        </td>
    </tr>
</body>
</html>